{% extends 'wrapper.html' %}
{% block body %}
{% load static %}

<form method="post">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
              {% csrf_token %}
            <div class="form-group">
              <label>Discord ID:</label>
                <br>
              {{ form.discord_tag }}
              <small class="form-text text-muted"></small>
            </div>

            <div class="form-group">
              <label >Bot command:</label>
              {{ form.command }}

              <small class="form-text text-muted"></small>
            </div>

            <script type="text/javascript">

                document.getElementById("id_discord_tag").value = '{{ userProfileTag }}';
            </script>

            <div class="form-group">
              <label id="label_youtube">YouTube link:</label>
              {{ form.youtube }}
            </div>

            <div class="form-group">
              <label id="label_weather">Город:</label>
              {{ form.weather }}
            </div>

            <div class="form-group">

              <div id="double_arrow">
                {{ form.currency_from }} ⇄ {{ form.currency_to }}
              </div>

            </div>
            <input type="submit" class="btnSubmit" value="Submit" />
            </div>
        </div>
    </div>
</form>

<script src="{% static 'main.js' %}" type="text/javascript"></script>
{% endblock body %}