<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>discord-web</title>

</head>

<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load crispy_forms_tags %}
    <h1>Main page!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Submit</button>

        </form>
</body>
