#id_youtube, #label_youtube{
    display: none;
}

#double_arrow {
	display: none;
}

.imgGui
{
    border-radius: 9px;
}

.registration
{
	margin-top: 10vh;
	background: #898989;
	padding: 70px 100px;
	border-radius: 5px;
}

.funcText
{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    font-family: Montserrat;
    font-size: 1em;
}

.funcBloc
{
	display: block; width: 35%;
}

.funcXY
{
	align-items: center;
	justify-content:center;
	padding: 0 200px;
	margin-bottom: 15em;
	display: flex;
	flex-direction: row;
}

.funcTitle
{
	font-size: 2em;
	font-family: Montserrat;
	font-weight: 700;
	color: #7289da;
}

.leftim
{
	margin-left: 20em;
	margin-right: 5em;
}

.homeName
{
	color: white;
    font-size: 3em;
    margin: 2rem;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 30vh;
}

.home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.navbarText
{
	font-family: Montserrat;
	font-size: 120%;
	font-weight: 450
}

.logo
{
	font-family: Montserrat;
	font-weight: 600;
	font-size: 180%;
}

.link
{
	color: #8f87e8;
}

body {
	background: #2c2f33;
	width: 100%;
	height: 100vh;
}

.form-container
{
	position: absolute;
	top: 15vh;
	background: #898989;
	padding: 70px 100px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #000;
}

.navbar
{
	margin-bottom: 30px;
}

.dev-images
{
	width: 653px;
	height: 244px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.checkId-images
{
	margin-bottom: 10px;
	margin-top: 10px;
}

.rightimg
{
	margin-right: 8rem;
}

.leftimg
{
	margin-left: -10vh;
	margin-right: 5vh;
}

.commandListSection
{
	margin-top: 5vh;
	align-items: center;
	justify-content:center;
	padding: 0 200px;
	margin-bottom: 15em;
	display: flex;
	flex-direction: row;
}

#id_username, #id_password
{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1{
    margin-left: auto;
    margin-right: auto;
    padding: 9%;
    /*background:#282726;*/
    background: #7289da;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
}

.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}

.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #fff;
    background-color: #484D54;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}

label
{
    font-family: 'Montserrat', sans-serif;
}
